<%- include('./layout/header.ejs') %>
  <h1>Hey this is dogs page</h1>
  <ul>
    <% for(let i=0;i<dogs.length; i++) { %>
      <li><%= dogs[i].name %> : <%= dogs[i].breed %></li>
    <% } %>
  </ul>
    <a href="/dogs/add">Add new dog</a>
</body>
</html>