<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>Add new dog</h2>
  <form action="/dogs/add" method="POST">
    <input placeholder="enter name of the dog" type="text" name="dogname">
    <input placeholder="enter breed of the dog" type="text" name="dogbreed">
    <button type="submit">Submit</button>
  </form>
</body>
</html>